
.body {
    font-family: sans-serif;
    text-align: center;
    font-size:5rem;
}

.botao {
    background-color: rgb(177, 143, 109);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    border-radius: 5px;
    background-size: 100px;
    color: black;
}


